.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
    padding-right: 20px;
    }

.highlight-word {
    position: relative;
    z-index: 0;
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
  /* prevent the highlight from breaking since it is horizontal   */
    white-space: nowrap;
  }
  
  .highlight-word:before {
      content: '';
      background: url(https://cdn2.hubspot.net/hubfs/1951809/text-highlight.png?t=1542708765973) no-repeat center center;
      background-size: 100% auto;
      width: 108%;
      height: 100%;
      display: block;
      position: absolute;
      z-index: -1;
      transform: translate(-3%,0);
  }

  .jumbotron {
    background-color: #C9F0D5;
  }

  .heroText {
    padding: 7rem 0;
 }

  .display-4 {
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
  }

  .lead {
    font-family: 'Lexend', sans-serif;
  }

  :root {
    --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
  }
  
  h2 {
    font-size: 2.5rem;
    font-weight: 600;
  }

  .featuresTitle {
    text-align: center;
    font-weight: bold;
    font-family: 'Lexend', sans-serif;
  }

  .card {
    font-family: 'Lexend', sans-serif;
    background: white;
    border: 2px solid #91AC8C;
    color: black;
    margin-bottom: 2rem;
  }

  .card-img-top {
    width: 6.25rem;
    height: auto;
    margin-top: 1rem;
    margin-bottom: auto;
    margin-left: 1rem;
  }

 .card-title {
    font-weight: 600;
 }

 .accessibilitygif {
    display: flex;
    align-items:center;
 }

 .accessibilitygif img {
  max-width: 50%;
  height: auto;
}

 .accessibilitytitle {
  margin-right: 100px;
    font-family: 'Lexend', sans-serif;
    font-size: xx-large;
    font-weight: bold;
 }

 .accessibilitytitle p {
  font-family: 'Lexend', sans-serif;
    font-size: large;
    font-weight: normal;
 }

 .nav-item {
  margin-right: 30px;
 }

 .footer{
  background:#C9F0D5;
  padding:10px 0px;
  font-family: 'Lexend', sans-serif;
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:1em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  margin-top: 0px;
  }
  
  .footer .row a:hover{
  color: black;
  }
  
  .footer .row ul{
    width:100%;
    margin-top: 0px;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  margin-top: 0px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  margin-top: 0px;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer a i{
  margin-top: 0px;
  margin:0% 3%;
  }
  }

  .socials img{
    margin-top: 0px;
    margin: 20px;
  }
